@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .area {
        @apply max-w-screen-xl w-[95%] mx-auto overflow-hidden
    }
    .code{
        @apply w-full relative p-[25px] flex flex-wrap justify-start items-center rounded-md overflow-x-auto bg-neutral-800;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        
    }
    .corchete {
        @apply block text-grayCode
    }
}

body{
    background-color: #fdfdfd;
}