@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .area {
        @apply max-w-screen-xl w-[95%] mx-auto overflow-hidden
    }
    .code{
        @apply w-full relative p-[25px] flex flex-wrap justify-start items-center rounded-md overflow-x-auto bg-neutral-800;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
    .corchete {
        @apply block text-grayCode
    }
    .textDegrade {
        background-image: -moz-linear-gradient(left, #183D8E, #984F96); /* Firefox */
        background-image: -o-linear-gradient(left, #183D8E,#984F96); /* Opera */
        background-image: linear-gradient(to left, #183D8E, #984F96); /* Estándar */
        background-image: -webkit-linear-gradient(left,#183D8E,#984F96
        ); /* Safari y Chrome */
        -webkit-background-clip: text;
        color: transparent;
      }
}

body{
    background-color: #fdfdfd;
}